.search-results-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.search-results-container h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    color: var(--text-color-light);
}


/* Loading and empty state */
.search-results-container p {
    font-size: 1.1rem;
    color: var(--text-color-light);
    text-align: center;
}

/* Dark mode */
body.dark-mode .search-results-container h2 {
    color: var(--text-color-dark);
}

body.dark-mode .search-results-container p {
    color: var(--text-color-dark);
}

